/* Box-sizing border-box */

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


.box {
	color: white;
	font-size: 30px;
	text-align: center;
	text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);

}

.container {
	display: flex;
}

.container .box {
	flex: 1;
}
.container1 {
	display: flex;
}

.container1 .box {
	flex-grow: 1;
}
.container2 {
	display: flex;
}

.container2 .box1 {
	flex-basis: 400px;
}
.container2 .box2 {
	flex-basis: 400px;
}
.container3 {
	display: flex;
}

.container3 .box1 {
	flex-basis: 400px;
	flex-grow: 1;
}
.container3 .box2 {
	flex-basis: 400px;
}

.h1 {
	padding: 0 10px;
}